<!-- This is Category section -->

{% load static %}
<!-- This displays all the Categories -->

<div class="">
    <!-- Category Search -->
    <div  class="row mb-5">
        <div class="col-7">
            <div class="input-group mb-1">
                <form action="{% url 'moqu:home' %}#quotes" method="GET"> 
                  <input type="text" class="form-control search-text text-sm-center " placeholder="Search Category" name="category_contains" value="{{qcategory}}">
                </form>
            </div>
        </div>
        <div class="col-5 offset-0 search-counter">
            {% if qcategory %}          
                {{categories_checked.count | add:categories_unchecked.count }} Result{{categories_checked.count|add:categories_unchecked.count|pluralize}} Found!!
            {% endif %}
        </div> 
    </div>            
            
    <!-- Category List -->
    <div class="">
        <form class="" action="{% url 'moqu:home' %}#quotes" method="POST">     
        <div class="overflow-auto " >
        {% csrf_token %}
            <ul class="list-group list-group-category">
            {% for category in categories_checked %}
                <li class="list-group-item d-flex" >
                    <input class="form-check-input me-2" type="checkbox" value="{{category}}" name="categorybox_checked" id="{{category|slugify}}" checked>
                    <label class="form-check-label stretched-link flex-fill" for="{{category|slugify}}">
                        {{category}}
                    </label>
                    <div class="child-counter">
                        {{category.movies.all.count}}
                    </div>
                </li>
            {% endfor %}
            {% for category in categories_unchecked %}
                <li class="list-group-item d-flex categories-unchecked-hover">
                    <input class="form-check-input me-2" type="checkbox" value="{{category}}" name="categorybox_checked" id="{{category|slugify}}">
                    <label class="form-check-label stretched-link flex-fill" for="{{category|slugify}}">
                        {{category}}
                    </label>
                    <div class="child-counter">
                        {{category.movies.all.count}}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="row m-auto">
            <div class="col-2 offset-lg-4 offset-md-5 offset-4">
                <button class="btn btn-sm mt-2 mb-5" type="submit" name="category-apply" value="category-selected"> Apply </button>
            </div>
        </div>
        </form>
    </div>
</div>
