/* ====================== Whole body CSS ======================= */

body
*::selection {
    background: rgba(103,61,230, 0.8);
    color: rgba(255, 255, 255, 1);
}
*::-moz-selection {
    background: rgba(103,61,230, 0.8);
    color: rgba(255, 255, 255, 1);
}
*::-webkit-selection {
    background: rgba(103,61,230, 0.8);
    color: rgba(255, 255, 255, 1);
}

html, body {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: monospace; */
    font-size: 100%;
    letter-spacing: 0.02em;
}

.container-fluid {
    width: 100%;
    height: 98vh;
    background-color: rgba(103,61,230, 1);
    /* background-color: rgba(80,37,209, 1); */
    /* background-image: linear-gradient(45deg, rgba(103, 61, 230, 1), rgb(255, 0, 187), rgba(103, 61, 230, 1)); */
}

/* ====================== ScrollBar CSS ======================= */

::-webkit-scrollbar {
    /* width: 12px; */
    /* width: 0.75rem; */
    /* width: 6px; */
    width: 0.375rem;
    height: 0.375rem;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(128, 0, 128, 1); */
    box-shadow: inset 0 0 0.375rem rgba(102, 51, 153, 1);

    /* border-radius: 10px; */
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    border-radius: 0.625rem;
    
    /* height: 2px; */
    height: 0.125rem;
    
    /* background-color: rgba(102, 51, 153, 0.7); */
    background-image: linear-gradient(to top, rgba(103, 61, 230, 1), rgba(255, 0, 128, 1));    
    /* box-shadow: inset 0 0 6px rgba(90,90,90,0.7); */
    box-shadow: inset 0 0 0.375rem rgba(102, 51, 153, 0.7);   
}

::-webkit-scrollbar-thumb:hover {
    /* background: rgba(102, 51, 153, 1);  */
    background-image: linear-gradient(to bottom, rgba(103, 61, 230, 1), rgba(255, 0, 128, 1));
}

/* ======================== About CSS ========================= */

.p-body {
    /* font-size: 14px; */
    font-size: 0.875rem;
    text-align: justify;
    color: rgba(0, 0, 0, 1);    
    letter-spacing: 0.03rem;
    word-spacing: 0.04rem;
    line-height: 1.5rem;
}

.p-body.p-heading {
    font-weight: 700;
}

a {
    text-decoration: none;
}  

.a-p{
    color: rgba(102, 51, 153, 1);
    font-size: 1rem;
    font-family: cursive;
}

.a-p:hover{
    color: rgba(80,37,209, 1);
    letter-spacing: 0.06rem;
}

/* ======================== Modal CSS ========================= */
/* ---------------------- Modal Close Button -------------------- */

.modal-btn-close{
    background: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    color: rgba(102, 51, 153);
    /* color: rgba(0, 0, 0); */
        
}

.modal-btn-close:hover {
    opacity: 1;
    color: rgba(102, 51, 153);
    border: 0.0625rem solid;
    border-color: rgba(102, 51, 153, 0.3);
}

.modal-btn-close:focus {
    opacity: 1;
    color: rgba(102, 51, 153);
    box-shadow: none;
    border: 0.0625rem solid;
    border-color: rgba(102, 51, 153, 1);
}

/* ------------------------- Modal Body ------------------------- */

.modal-moqu {
    border-right: 0.0625rem dashed rgba(102, 51, 153, 0.2);
}

.p-modal {
    font-size: 0.75rem;
    text-align: justify;
}

.modal-icon{
    color: rgba(102, 51, 153, 1);
}

.modal-icon-title{
    color: rgba(0, 0, 0, 1);
}

.modal-icon-title:hover{
    border-bottom: 0.125rem solid rgba(102, 51, 153, 1);
    color: rgba(102, 51, 153, 1);
    font-weight: 600;
    letter-spacing: 0.04rem;
}

.modal-icon-title.active{
    border-bottom: 0.125rem solid rgba(102, 51, 153, 1);
    color: rgba(102, 51, 153, 1);
    font-weight: 600;
    letter-spacing: 0.04rem;
}

/* --------------------- Modal Trigger Button ------------------- */

.btn-primary {
    --bs-btn-hover-bg: transparent;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
}

.btn-modal-lg{
    font-size: 1.875rem;
}

.btn-modal-lg:hover{
    color: rgba(80,37,209, 1);
    font-size: 2rem;
}

.btn-modal-sm {
    font-size: 1.5rem;
}

.btn-modal-sm:hover{
    color: rgba(80,37,209, 1);
}
